:root {
    --color-5: #F9F7F7;
    --color-4: #bccff3;
    --color-3: #a5c7f1;
    --color-2: #112D4E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-4);
}

img {
    width: 60%;
}

.nav {
    width: 100vw;
    background-color: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    background-color: var(--color-3);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2.5rem;

}
.fa-angles-left{
    padding: 1rem;
}
.center-nav {
    text-align: center;
}

.parent {
    background-color: var(--color-3);
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.parent-child {
    display: flex;
    padding: 1rem;
}

.left {
    justify-content: center;
    align-items: center;
    background-color: var(--color-5);
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.title-div h1 {
    text-decoration: underline;
    padding-block: .5rem;
}


.old-price {
    font-size: 1rem;
    padding: .5rem;
    opacity: .5;
    text-decoration: line-through;
}

.discription-div {
    margin-block: 1rem;
    margin-top: 2rem;
    font-size: larger;
    background-color: var(--color-3);
}

.discaimer-div {
    padding: 1rem;
    position: inherit;
    bottom: 0;
    background-color: var(--color-2);
    color: var(--color-5);
}

.discaimer-div p span {
    color: red;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-div{
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
}
button{
    padding-inline: 30vw;
    padding-block: .5rem;
    background-color: var(--color-2);
    color: var(--color-5);
    font-size: 2rem;
    font-weight: 500;
    border-radius: 50px;
}
@media (max-width: 768px) {
    .parent{
        flex-direction: column;
    }
    button{
        padding-inline: 20vw;
    }
}
@media (max-width: 480px) {
    .center-nav h2{
        font-size: 1rem;
    }
    button{
        font-size: 1.5rem;
    }
}