@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Libertinus+Serif+Display&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Moon+Dance&family=Playwrite+IT+Moderna:wght@200&family=Story+Script&family=Style+Script&display=swap');

:root {
    --color-5: white;
    --color-4: white;
    --color-3: white;
    --color-2: #000000;
}

body {
    /* background-color: rgba(189, 189, 189, 0.466); */
    background-color: rgba(155, 83, 145, 0.436);
}

.containt,
.about-container,
.contact-p {
    border-radius: 10px;
    background-color: rgb(246, 202, 255);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libertinus Serif Display", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}

header {
    animation: headerImgChanger 15s linear infinite;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/014/929/882/small_2x/multi-layers-blue-color-texture-3d-papercut-layers-in-gradient-banner-abstract-paper-cut-art-background-design-for-website-template-topography-map-concept-or-smooth-origami-paper-cut-vector.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 72vh;
    position: relative;
}

.header-text-div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background-color: #ccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.header-text-div h1 {
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    width: 50vw;
}

.header-text-div p {
    font-size: 1em;
    width: 60vw;
    line-height: 1.4em;
}

@keyframes headerImgChanger {
    0% {
        background-image: url('https://static.vecteezy.com/system/resources/thumbnails/014/929/882/small_2x/multi-layers-blue-color-texture-3d-papercut-layers-in-gradient-banner-abstract-paper-cut-art-background-design-for-website-template-topography-map-concept-or-smooth-origami-paper-cut-vector.jpg');
    }

    33.33% {
        background-image: url('https://img.freepik.com/premium-photo/series-gray-blue-abstract-shapes_762785-221535.jpg?w=360');
    }

    66.66% {
        background-image: url('https://img.freepik.com/premium-photo/blue-white-abstract-painting-wave-with-ocean-background_605423-158406.jpg?w=360');
    }

    100% {
        background-image: url('https://static.vecteezy.com/system/resources/thumbnails/014/929/882/small_2x/multi-layers-blue-color-texture-3d-papercut-layers-in-gradient-banner-abstract-paper-cut-art-background-design-for-website-template-topography-map-concept-or-smooth-origami-paper-cut-vector.jpg');
    }
}

.nav {
    /* height: 7vh; */
    width: 100%;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
}

.nav .logo {
    color: #000000;
    font-size: 3rem;
    padding: 1rem;
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.nav ul {
    position: fixed;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(20px);
    top: 0;
    display: flex;
    padding: .6rem;
    gap: 2rem;
    border-radius: 20px 0px 0px 20px;
}

.nav ul li {
    display: flex;
    border-radius: 10px;
    padding: .5rem;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;

}

.nav ul li:hover {
    background-color: #ffffff9d;
    border-bottom: 2px solid var(--color-2);
    transition: all .5s;
    transform: scale(1.1);

}

ul li a {
    text-decoration: none;
}

.nav ul li a:hover {
    color: black;
}

#hamburger {
    display: none;
}

.box button:hover {
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1.1);
}

.btn-1 {
    background-color: orange;
    border: 2px solid white;

}

.about-sec {
    padding: 1rem;
    /* height: 25vh; */
    width: 100%;
    /* background-color: aqua; */
    gap: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-containt {
    display: flex;
    gap: 2rem;
}

.about-containt .about-img,
.about-containt img {
    width: 25rem;
}

.containt {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.nobox {
    display: none;
}

.box {
    width: 270px;
    /* width: calc(100% / 5); */
    padding: 1rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-4);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box b {
    color: #4E4E4E;
}

.box p {
    text-align: center;
    color: rgb(78, 78, 78);
    ;
    /* padding-block: .4rem; */
}

.box p span {
    text-align: center;
    color: rgb(78, 78, 78);
}

.box-img {
    /* height: 20rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #e3eefc; */
    background-color: rgb(183, 255, 115);
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.box-img img {
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    width: 98%;
}

.box:nth-child(odd) .clip-path {
    /* width: 15rem; */
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: anyMay-1 both;
    animation-timeline: view(30% 30%);
}

.box:nth-child(even) .clip-path {
    /* width: 15rem; */
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    animation: anyMay-2 both;
    animation-timeline: view(30% 30%);
}

.box:nth-child(even) .clip-path:hover {
    transition: all .5s;
    transform: scale(1.1);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

}

.box:nth-child(odd) .clip-path:hover {
    transition: all .5s;
    transform: scale(1.1);
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;

}

@keyframes anyMay-1 {
    from {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        /* width: 90%; */
        transform: scale(.8);
    }

    to {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
        /* width: 98%; */
        transform: scale(1);
    }
}

@keyframes anyMay-2 {
    from {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
        /* width: 90%; */
        transform: scale(.8);
    }

    to {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        /* width: 98%; */
        transform: scale(1);
    }
}

.box button {
    position: relative;
    width: 100%;
    color: rgb(78, 78, 78);
    border: 1px solid rgb(78, 78, 78);
    background: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding-block: .8rem;
    background-color: var(--color-3);
    color: var(--color-2);
    /* width: 15rem; */
}

.open-gallery-div {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.open-gallery-div button {
    font-size: 2rem;
    /* font-weight: 200; */
    width: 90vw;
    border-radius: 50px;
    border: 1px solid rgb(78, 78, 78);
    background: none;
    color: rgb(78, 78, 78);
    background-color: #F6CAFF;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

button:hover {
    background: transparent;
    cursor: pointer;
    transition: all .5s;
    ;
    font-weight: 400;
    /* border: 2px solid var(--color-5); */
}

.about-container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
}

.sec-heading {
    background-color: #F6CAFF;
    max-width: 1200px;
    margin: 1rem auto;
    text-align: center;
    text-align: center;
    /* margin-bottom: 25px; */
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.sec-heading h1 {
    color: var(--color-2);
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
}

.sec-heading h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 3px;
    background-color: var(--color-2);
}

.about-content {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 30px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-image video:hover {
    transform: scale(1.02);
}

/* 
        .about-image img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .about-image img:hover {
            transform: scale(1.02);
        } */

.third-heading {
    flex: 1;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    /* background-color: var(--color-3); */
}

.third-heading h2 {
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    padding: 1vw;
}

.third-heading p {
    font-size: 1.1rem;
    color: #666666;
    line-height: 1.8;
    text-align: justify;
}

.contact {
    display: flex;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-p {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-p div {
    border-radius: 10px;
    padding: 1rem;
}

.contact-p div:hover {
    background-color: rgba(0, 255, 255, 0.268);
    transition: all .5s;
    transform: scale(1.1);
    cursor: pointer;
}

.contact-p p {
    font-size: 1rem;
    color: black;
}

@media (max-width: 768px) {
    .header-text-div h1 {
        font-size: 2.8em;
        width: 60vw;
    }

    .header-text-div p {
        font-size: 1em;

    }

    .about-content {
        flex-direction: column;
        gap: 30px;
    }

    .sec-heading h1 {
        font-size: 2rem;
    }

    .sec-heading h1::after {
        width: 85vw;
    }

    .third-heading h2 {
        font-size: 1.5rem;
    }

    .third-heading p {
        font-size: 1rem;
    }

    .about-container {
        padding: 15px;
    }

    .open-gallery-div button {
        font-size: 2rem;
        width: 70vw;
    }
}

@media (max-width: 650px) {
    .nav {
        background-color: #ffffff9d;
        position: fixed;
    }

    .logo {
        color: black;
        font-weight: 600;
    }

    .fa-bars {
        color: var(--color-2);
    }

    .nav ul {
        display: none;
        /* display: flex; */
        position: absolute;
        z-index: 1000;
        top: 5.4rem;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        gap: 1rem;
        /* background-color: rgba(255, 254, 254, 0.309); */
        /* background-color: #bccff39d; */
    }

    .nav ul li {
        background-color: #ffffff49;
        font-size: 1rem;
        border-bottom: 2px solid var(--color-2);
        box-shadow: var(--color-5);
        padding: 1rem 4rem;
    }

    .nav ul li a {
        color: var(--color-2);
        font-weight: 500;
    }

    #hamburger {
        display: flex;
        align-items: center;
        /* display: none; */
        padding: 1rem;
        font-size: 2rem;
    }

    .h-div h1 {
        font-size: 1.4rem;
    }

    .p-div,
    .h-div {
        width: 96vw;
    }

    .btn-div {
        display: none;
    }

    .btn-div button {
        display: none;
    }

    .containt {
        gap: 0.5rem;
        padding-block: 2rem;
    }

    .box {
        padding: .5rem;
        width: 200px;
        background-color: var(--color-4);
    }

    /* .box-img {
        height: 10rem;
    } */

    .box:nth-child(odd) .clip-path {
        width: 11rem;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .box:nth-child(even) .clip-path {
        width: 11rem;
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    }

    .box-img img {
        width: 2rem;
    }

    .open-gallery-div button {
        font-size: 1rem;
    }

    .open-gallery-div button {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    #header {
        height: 60vh;
        ;
    }

    .header-text-div {
        gap: 1rem;
    }

    .header-text-div h1 {
        width: 80vw;
        font-size: 2.5em;
    }

    .header-text-div p {
        width: 80vw;
        font-size: 0.9em;

    }

    .nav .logo,
    #hamburger {
        font-size: 1.5rem;
    }

    .containt {
        gap: 0rem;
        padding: 2rem .3rem;
    }

    .box {
        margin: .2rem;
        /* padding: .5rem; */
        width: 46%;
        font-size: .7rem;
    }

    .box-img {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 15rem; */
    }

    .box:nth-child(odd) .clip-path {
        /* width: 5rem; */
        width: 100%;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    .box:nth-child(even) .clip-path {
        /* width: 10rem; */
        width: 100%;
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    }

    .box button {
        font-size: .9rem;
        padding-inline: 1em;
    }

    .sec-heading h1 {
        font-size: 1.8rem;
    }

    .sec-heading h1::after {
        width: 85vw;
    }

    .third-heading h2 {
        font-size: 1rem;
    }

    .third-heading p {
        font-size: 0.95rem;
    }

    .about-container {
        padding: 10px;
    }

    .open-gallery-div button {
        font-size: 1rem;
        padding-block: .8vh;
        width: 90vw;
    }

}